{% extends 'includes/layout.njk' %}
{% import 'macro/post.njk' as post_template %}

{% block main %}

    <div id="post">
        <div class="container">
            <div id="post-header" class="center">
                <h1 class="center">{{ page.title or __('post.no_title')}}</h1>
                <span class="post-date center">
                    <i class="fa fa-calendar"></i>
                    <time datetime="{{ page.date.toJSON() }}">
                        {{ date(page.date) }}
                    </time>
                </span>

                {% if theme.post.category %}
                    <span class="post-categories">
                   {% if page.categories and page.categories.length %}
                       <span class="post-category">
                              &nbsp; | &nbsp;
                              <span class="post-meta-item-icon">
                                <i class="fa fa-folder-o"></i>
                              </span>
                           {% for cat in page.categories.toArray() %}
                               <span>
                                  <a href="{{ url_for(cat.path) }}" rel="index">
                                    <span>{{ cat.name }}</span>
                                  </a>
                                </span>

                               {% set cat_length = page.categories.length %}
                               {% if cat_length > 1 and loop.index !== cat_length %}
                                   {{ __('symbol.comma') }}
                               {% endif %}

                           {% endfor %}
                            </span>
                   {% endif %}
                </span>
                {% endif %}

                {% if page.photos %}
                    <div class="post-gallery">
                        <div id="lightgallery">
                            {% for photo in page.photos %}

                                <a href="{{ url_for(photo) }}">
                                    <img class="post-photo" src="{{ url_for(photo) }}">
                                </a>

                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>

            <article>
                <div class="content">
                    {{ post_template.render(page) }}
                </div>
            </article>


            <div class="post-tags center">
                {% for tag in page.tags.toArray() %}
                    <span class="post-tag chip">
                        <a href="{{ url_for(tag.path) }}">{{ tag.name }}</a>
                   </span>
                {% endfor %}
            </div>


            <div class="social-share" data-mobile-sites="weibo,qq,qzone,facebook,twitter">
                <span id="share-to">{{ __('post.share_to') }}</span>
            </div>

            <div class="post-footer">
                {% if page.prev %}
                    <a class="left" href="{{ url_for(page.prev.path) }}" rel="prev" title="{{ page.prev.title }}">
                        <i class="fa fa-arrow-circle-left fa-3x" aria-hidden="true"></i>
                        <span>  {{ truncate( page.prev.title,{length:80}) }}</span>
                    </a>
                {% endif %}
                {% if page.next %}
                    <a class="right" href="{{ url_for(page.next.path) }}" rel="next" title="{{ page.next.title }}">
                        {{ truncate( trim(page.next.title),{length:60}) }}<i
                                class="fa fa-arrow-circle-right fa-3x "></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
