<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <div>© 2017 Copyright {{ config.author }}
                <span class="right">
                powered by
                <a href="http://hexo.io">hexo</a>.
                theme:
                <a href="https://github.com/jonashao/hexo-theme-pteris">pteris</a>
                </span>
            </div>
        </div>
    </div>

    {% if theme.filing %}
        <div class="filing">
            <a href="//www.miitbeian.gov.cn">{{ theme.filing }}</a>
        </div>
    {% endif %}
</footer>
