<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <div>© 2017 Copyright {{ config.author }}, powered by
                <a href="http://hexo.io">hexo</a>.
                designed by
                <a href="{{ config.root }}">Jonas Hao</a></div>
        </div>
    </div>
</footer>
