{% set pageTitle = page.title or config.subtitle or '' %}

{% if is_archive() %}
    {% set pageTitle = 'Archives' %}
{% endif %}

{% if is_tag() %}
    {% set pageTitle = 'Tag: ' + page.tag %}
{% endif %}

{% if is_category() %}
    {% set pageTitle = 'Category: ' + page.category %}
{% endif %}

{% if is_month() %}
    {% set pageTitle = pageTitle + ': ' + page.month + '/' + page.year %}
{% endif %}

{% if is_year() %}
    {% set pageTitle = pageTitle + ': ' + page.year %}
{% endif %}

{% if pageTitle and pageTitle.length > 0 %}
    {% set l = ' | ' %}
{% else %}
    {% set l ='' %}
{% endif %}
{% set pageTitle = pageTitle + l + config.title + ' ' %}

{% set themeColor = '#93b658' %}
{% if theme.theme_color %} 
{% set themeColor = theme.theme_color %}
{% endif %}

{% set description = strip_html(page.excerpt)  or truncate( strip_html(page.content), {length: 100} or theme.description or config.description) %}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="theme-color" content= {{ themeColor }} >
    <title>{{ pageTitle }}</title>

    {% if page.keywords %}
        <meta name="keywords" content="{{ page.keywords }}"/>
        {% elif page.tags and page.tags.length %}
        <meta name="keywords" content="{% for tag in page.tags %}{{ tag.name }},{% endfor %}"/>
        {% elif theme.keywords %}
        <meta name="keywords" content="{{ theme.keywords }}"/>
        {% elif config.keywords %}
        <meta name="keywords" content="{{ config.keywords }}"/>
    {% endif %}

    {% if theme.baiduSiteVerification %}
        <meta name="baidu-site-verification" content="{{theme.baiduSiteVerification}}" />
    {% endif %}
    <meta name="description" content="{{ description }}"/>

    {% if theme.favicon %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for(theme.favicon) }}?v={{ theme.version }}"/>
    {% endif %}

    {% if theme.rss === '' and config.feed and config.feed.path %}
        {% set rss = config.feed.path %}
    {% endif %}

    {% if theme.rss %}
        <link rel="alternate" href="{{ url_for(rss) }}" title="{{ config.title }}" type="application/atom+xml"/>
    {% endif %}

    {% if is_post() %}
        {{ css('lib/social-share.js/dist/css/share.min.css') }}
    {% endif %}
    {{ css('//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css') }}
    {{ css('lib/materialize/dist/css/materialize.min.css') }}
    {{ css('lib/animate.css/animate.min.css') }}
    {{ css('css/post/atom-one-light.css') }}
    {{ css('css/pteris.css')}}


    {% if is_home() or is_post() or page.type === 'about' %}
        {{ css('css/post.css') }}
    {% endif %}

    {% if page.photos %}
        {{ css('lib/lightgallery.js/dist/css/lightgallery.min.css') }}
    {% endif %}

    {% if theme.stylesheets !== undefined and theme.stylesheets.length > 0 %}
        {{ css(theme.stylesheets) }}
    {% endif %}
</head>