<div class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container white-text">
            <h1 class="header center">
                {% if theme.avatar %}
                    <div class='avatar'>
                        {{ image_tag(theme.avatar,{class:'circle responsive-img hoverable z-depth-1'}) }}
                    </div>
                {% else %}
                    <i class="fa fa-chevron-circle-down " aria-hidden="true"></i>
                {% endif %}
            </h1>
            <div class="row center">
                <h5 class="header col s12">{{ theme.title or config.title }}</h5>
                <div class="col s12">{{ theme.description or config.description }} </div>
            </div>
            <br><br>
        </div>
    </div>

    <div class="parallax">
        {% if theme.headerImageUrl %}
            <img src="{{ theme.headerImageUrl }}" data-adaptive-background>
        {% else %}
            <div data-adaptive-background style="height: 100vh; background-color: #93b658;"></div>
        {% endif %}
    </div>
</div>