{{ js('lib/jquery/dist/jquery.min.js') }}
{{ js('lib/materialize/dist/js/materialize.min.js') }}
{{ js('lib/headroom.js/dist/headroom.min.js') }}
{{ js('lib/headroom.js/dist/jQuery.headroom.min.js') }}


{% if is_post() %}
    {{ js('lib/social-share.js/dist/js/share.min.js') }}
{% endif %}

{% if theme.scripts !== undefined and theme.scripts.length > 0 %}
    {# scripts list from config.yml #}
    {{ js(theme.scripts) }}
{% endif %}
{{ js('js/pteris.js') }}

{% if page.photos %}
    {{ js('lib/lightgallery.js/dist/js/lightgallery.min.js') }}
{% endif %}



{% if theme.baiduAutoSubmit %}
    <script>
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
{% endif %}